.description {
    display: flex;
    width: 80%;
    margin: 60px auto;
    transform: translateX(-1500px);
    opacity: 0;
}

.description__show {
    transform: translateX(0px);
    opacity: 1;
    transition: .5s linear;
}

.description__image {
    /* flex-basis: 70%; */
    width: 100%;
    margin-right: 50px;
    padding-right: 10px;
}

.description__file {
    width: 100%
}

.description__text {
    font-size: 1.3rem;
    flex-basis: 50%;
}

@media (max-width: 890px) {
    /* .description__image {
    } */
    .description {
        display: block;
    }
    .description__text {
        /* flex-basis: 100%; */
        font-size: 1.8rem;
    }
}

@media (max-width:1100px) {
    .description {
        display: block;
    }
    .description__text {
        /* flex-basis: 100%; */
        font-size: 1.8rem;
    }
}

@media (max-width: 500px) {
    .description__text {
        font-size: 1.1rem;
    }
}

